
	<div id="landingButtons" class = "row" align="centre">
		<div class="row">
  			<div class="large-3 large-centered columns" align="centre"><a href="users" class="button">Members</a></div>
		</div>
		<div class="row">
  			<div class="large-3 large-centered columns" align="centre"><a href="policies" class="button">Policies</a></div>
		</div>
		<div class="row">
  			<div class="large-3 large-centered columns"><a href="rewards" class="button">Rewards</a></div>
		</div>
		<div class="row">
  			<div class="large-3 large-centered columns"><a href="takeups" class="button">Takeups</a></div>
		</div>
		<div class="row">
  			<div class="large-3 large-centered columns"><a href="pointslog" class="button">Points Log</a></div>
		</div>
	</div>


